.card-pane{
	-fx-padding: 2;
	-fx-border-color: #666666;
	-fx-border-style: solid;
	-fx-border-width: 1px;
	-fx-border-radius: 4px;
	-fx-font-size: 10px;
	-fx-text-alignment: center;
}

.field-pane{
	-fx-padding: 2;
	-fx-border-color: #6666ff;
	-fx-border-style: solid;
	-fx-border-width: 1px;
	-fx-border-radius: 6px;
	-fx-font-size: 10px;
	-fx-text-alignment: center;
}

.treasury-pane{
	-fx-padding: 2;
	-fx-border-color: #ffdd66;
	-fx-border-style: solid;
	-fx-border-width: 1px;
	-fx-border-radius: 6px;
	-fx-font-size: 10px;
	-fx-text-alignment: center;
}